pre {
    border: 1px solid #505050;
    background-color: #363636;
    color: #ccdbc5;
}

.project-description .bp {
    color: #934D5C;
}

.project-description .c1 {
    color: #808080;
}

.project-description .fm {
    color: #B200B2;
}

.project-description .k {
    color: #CB772F;
}

.project-description .kn {
    color: #CB772F;
}

.project-description .nb {
    color: #7E87C5;
}

.project-description .nc {
    color: #FFC66D;
}

.project-description .nd {
    color: #FFC66D;
}

.project-description .nf {
    color: #FFC66D;
}

.project-description .nn {
    color: #ccdbc5;
}

.project-description .mi {
    color: #6696B8;
}

.project-description .ow {
    color: #CB772F;
}

.project-description .s1 {
    color: #698657;
}

.project-description .s2 {
    color: #698657;
}

.project-description .sa {
    color: #698657;
}

.project-description .sd {
    color: #698657;
}

.project-description .se {
    color: #CB772F;
}

.project-description .si {
    color: #CB772F;
}

.project-description .vm {
    color: #B200B2;
}